﻿@using MVCPractice.Models
@model Employee
    @{ Employee emp = (Employee)ViewBag.Employee;}
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>STV</title>
</head>
<body>
    <div> 
        @Model.FistName
        @emp.Salary
    </div>
</body>
</html>
