﻿@using MyMVC.ViewModels;
@model EmployeeListViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee_Index</title>
    <meta charset="utf-8">
    <meta name="keywords" content="soodas, jiho, ian, lee">
    <meta name="author" content="Jiho Lee">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0, maximum-scale=3, user-scalable=yes">
    <link rel="shortcut icon" type="image/x-icon" href="../../pics/cloudy.ico" />

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Montserrat:400,700" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
      <script>
        document.createElement("header" );
        document.createElement("footer" );
        document.createElement("section");
        document.createElement("aside"  );
        document.createElement("nav"    );
        document.createElement("article");
        document.createElement("hgroup" );
        document.createElement("time"   );
      </script>
      <noscript>
         <strong>Warning !</strong>
         Your web doesn't support HTML5. To see the page, please turn on the script function from your web browser. Thank you.
       </noscript>
    <![endif]-->
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1>Employee Information <input type="button" value="Refresh" onclick="refreshInfo()" /></h1>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td><h4>Employee Id</h4></td>
                                <td><h4>Name</h4></td>
                                <td><h4>Joined Year</h4></td>
                            </tr>
                        </thead>
                        <tbody id="empInfoBody">
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading"><h1>Add New Employee</h1></div>
                <div class="panel-body">
                    <form action="/Employee/SaveEmployee" method="post">
                        EmployeeId: <input type="text" id="TxtId" name="EmployeeId" value="" /><br />
                        First Name: <input type="text" id="TxtFName" name="FirstName" value="" /><br />
                        Last Name: <input type="text" id="TxtLNane" name="LastName" value="" /><br />
                        Joined Year: <input type="text" id="TxtJYear" name="JoinYear" value="" /><br />
                        <input type="submit" name="BtnSave" value="Save Employee"/>
                        <input type="button" name="BtnReset" value="Reset" onclick="ResetForm();"/>
                    </form>
                </div>
            </div>
        </div>    
    </div>
    <script>
        function ResetForm()
        {
            $("#TxtId").val("")
            $("#TxtFName").val("")
            $("#TxtLNane").val("")
            $("#TxtJYear").val("")
        }
        function refreshInfo() {
            var tblBody = "";
            $("#empInfoBody").val("");
            @foreach (EmployeeViewModel emp in @Model.employees)
            {
                <text>$("#empInfoBody").append(@emp.FullName);   </text>
            }
        }
    </script>
</body>
</html>