﻿@using StockDisplayMVC.Models;
@model SMAAnalysisViewModel
@{
    ViewBag.Title = "SMA Analysis";
}
@section Styles{
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
}
@section Scripts{
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <script src="~/Scripts/App/SMA.js"></script>
}

<div id="SMAPartialViewContainer">
    <input class="hidden" id="interval" value="@Model.Interval" />
    <input class="hidden" id="seriesType" value="@Model.SeriesType" />
    <br />
    <div class="row" id="sma-filter">
        <div>SMA Filter</div>
        <br />
        @using (Html.BeginForm("BasicAnalysis", "Home", FormMethod.Get))
        {
            <div class="row">
                <div>
                    <label>Min Volume: </label>
                    @*@Html.TextBox("MimVolume", Model.MinVolume)*@
                    @Html.TextBoxFor(x => x.MinVolume)
                    <label>Interval: </label>
                    @Html.DropDownList("Interval", new SelectList(Model.IntervalList, Model.Interval))
                    <label>Series Type: </label>
                    @Html.DropDownList("SeriesType", new SelectList(Model.SeriesTypeList, Model.SeriesType))
                    <button id="refresh">Refresh</button>
                </div>
            </div>
        }
    </div>
    <hr />
    <div class="row">
        <div class="container">
            <table id="smaTable" class="table table-striped table-bordered dt-responsive nowrap">
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Lowest</th>
                        <th>Highest</th>
                        <th>LCPrice</th>
                        <th>LCDate</th>
                        <th>SMA</th>
                        <th>LC-SMA Pos</th>
                        <th>LH Pos (0-100%)</th>
                        <th>PotentialGain</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var sma in Model.SMAs)
                    {
                        <tr>
                            <td>@sma.Symbol</td>
                            <th>$@sma.Lowest</th>
                            <th>$@sma.Highest</th>
                            <td>$@sma.LastClosePrice</td>
                            <td>@sma.CloseDate.ToString("MM/dd/yy")</td>
                            <td>$@Math.Round(sma.SimpleMovingAverage, 2)</td>
                            <td>@Math.Round(sma.LCPSMAPosition, 2)%</td>
                            <td>@sma.LowHighPosition%</td>
                            <td>@sma.PotentialGain%</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>