﻿@*@using StockDisplayMVC.Models.Analysis;
@model List<AnalysisSMA>
@{
    ViewBag.Title = "SMA Analysis";
}
@section Styles{
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
}
@section Scripts{
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
}

<br />
<div class="row" id="filter-container">
    <div class="row" id="function-container">
        <div class="row">Function Selection</div>
        <input type="button" id="SMA" value="SMA" />
        <input type="button" id="LH_position" value="LH Position" />
    </div>
    <div class="row" id="symbol-filter-container">
        <div class="row">
            <label>Symbols: </label>
            <label id="symbols">smbols</label>
        </div>
        <input type="button" id="add_symbols" value="Add Symbols" />
        <input type="button" id="remove_symbols" value="Remove Symbols" />
    </div>
    <div class="row" id="sma-filter">
        <div class="row">SMA Filter</div>
        <div>
            <form>
                <div class="col-lg-5">
                    <label>Interval: </label>
                    <fieldset id="interval-group">
                        5day
                        <input type="radio" value="5" name="interval-group">
                        10day
                        <input type="radio" value="10" name="interval-group">
                        30day
                        <input type="radio" value="30" name="interval-group">
                        60day
                        <input type="radio" value="60" name="interval-group">
                        300day
                        <input type="radio" value="300" name="interval-group">
                    </fieldset>
                </div>
                <div class="col-lg-5">
                    <label>Series Type: </label>
                    <fieldset id="series-group">
                        Low
                        <input type="radio" value="low" name="series-group">
                        High
                        <input type="radio" value="high" name="series-group">
                        Average
                        <input type="radio" value="avg" name="series-group">
                        Close
                        <input type="radio" value="close" name="series-group">
                    </fieldset>
                </div>
                <div class="col-lg-2">
                    <input type="button" id="refresh" value="Refresh" />
                </divclass="col-lg-6">
            </form>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="container">
        <table id="smaTable" class="table table-striped table-bordered dt-responsive nowrap">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>LCPrice</th>
                    <th>LCDate</th>
                    <th>SMA</th>
                    <th>LC-SMA Pos</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sma in Model)
                {
                    <tr>
                        <td>@sma.Symbol</td>
                        <td>$@sma.LastClosePrice</td>
                        <td>@sma.CloseDate.ToString("MM/dd/yy")</td>
                        <td>$@Math.Round(sma.SimpleMovingAverage, 2)</td>
                        <td>@Math.Round(sma.LCPSMAPosition, 2)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>*@