﻿@using StockDisplayMVC.Models;
@model SMAAnalysisViewModel

<div id="SMAPartialViewContainer">
    <input class="hidden" id="interval" value="@Model.Interval" />
    <input class="hidden" id="seriesType" value="@Model.SeriesType" />

    <div class="row" id="sma-filter">
        <div class="row">SMA Filter</div>
        <div>
            <form>
                <div class="col-lg-5">
                    <label>Interval: </label>
                    <fieldset id="interval-group">

                        <input type="radio" value="5" name="interval-group" @((Model.Interval == 5) ? "checked='checked'" : "")>
                        5day
                        <input type="radio" value="10" name="interval-group" @((Model.Interval == 10) ? "checked='checked'" : "")>
                        10day
                        <input type="radio" value="30" name="interval-group" @((Model.Interval == 30) ? "checked='checked'" : "")>
                        30day
                        <input type="radio" value="60" name="interval-group" @((Model.Interval == 60) ? "checked='checked'" : "")>
                        60day
                        <input type="radio" value="300" name="interval-group" @((Model.Interval == 300) ? "checked='checked'" : "")>
                        300day
                    </fieldset>
                </div>
                <div class="col-lg-5">
                    <label>Series Type: </label>
                    <fieldset id="series-group">

                        <input type="radio" value="low" name="series-group" @((Model.SeriesType.ToUpper().Equals("LOW")) ? "checked='checked'" : "")>
                        Low
                        <input type="radio" value="high" name="series-group" @((Model.SeriesType.ToUpper().Equals("HIGH")) ? "checked='checked'" : "")>
                        High
                        <input type="radio" value="avg" name="series-group" @((Model.SeriesType.ToUpper().Equals("AVG")) ? "checked='checked'" : "")>
                        Average
                        <input type="radio" value="close" name="series-group" @((Model.SeriesType.ToUpper().Equals("CLOSE")) ? "checked='checked'" : "")>
                        Close
                    </fieldset>
                </div>
                <div class="col-lg-2">
                    <input type="button" id="refresh" value="Refresh" />
                </div>
            </form>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="container">
            <table id="smaTable" class="table table-striped table-bordered dt-responsive nowrap">
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Lowest</th>
                        <th>Highest</th>
                        <th>LCPrice</th>
                        <th>LCDate</th>
                        <th>SMA</th>
                        <th>LC-SMA Pos</th>
                        <th>LH Pos (0-100%)</th>
                        <th>PotentialGain</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var sma in Model.SMAs)
                    {
                        <tr>
                            <td>@sma.Symbol</td>
                            <th>$@sma.Lowest</th>
                            <th>$@sma.Highest</th>
                            <td>$@sma.LastClosePrice</td>
                            <td>@sma.CloseDate.ToString("MM/dd/yy")</td>
                            <td>$@Math.Round(sma.SimpleMovingAverage, 2)</td>
                            <td>@Math.Round(sma.LCPSMAPosition, 2)%</td>
                            <td>@sma.LowHighPosition%</td>
                            <td>@sma.PotentialGain%</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>