﻿@{ MVCPractice.Models.Employee em = (MVCPractice.Models.Employee) ViewData["Jiho"];}
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyViewData</title>
</head>
<body>
    <div> 
        @em.FistName
    </div>
</body>
</html>
