﻿@{ MVCPractice.Models.Employee emp = (MVCPractice.Models.Employee) ViewBag.Employee;}
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyViewBag</title>
</head>
<body>
    <div>
        
        @emp.FistName
    </div>
</body>
</html>
